body{
    margin: 0;
    padding: 0;
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/bg-body.jpg) no-repeat top center #20101f;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
}

.page{
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/bg-page.jpg) repeat-x top #f7f7f7;
    width: 1002px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
}

.top{
    padding: 30px 30px 20px 30px;
    height: 70px;
}
.top .contact{
font-size: 22px;
text-transform: uppercase;
float: right;   
margin: 0;
}

#logo{
    float:left;
}

.main{
    clear: both;
}

.main #image{
    text-align: center;
}


.try-container{
    position: relative;
    margin-top: 30px;
}

.try-container .btn-try{
    padding: 0 0 33px 0;
    width: 343px;
    margin: 0 auto;
    position: relative;
    height: 57px;
}


.try-container .btn-try a.normal{
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/button-try.png);
    width: 343px;
    height: 57px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.try-container .arrow-down-left{
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/down-left.png) no-repeat right 2px;
    height: 85px;
    position: absolute;
    top: 20px;
    right: 40px;
    padding: 0 55px 0 0;
    font-family: HelveticaLC;
    color: #5790dc;
    font-size: 22px;
}


.list-features .feature{
    display: flex;
    align-items: flex-start;
    height: 150px;
    padding-left: 20px;
}

.list-features .feature .feature-text{
    margin-right: 40px;
    margin-left: 10px;
}

.list-features .feature .feature-text h3{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    font-family: Helvetica;
    font-weight: normal;
}

.list-features .feature .feature-text p{
    color: #808080;
}


.row1, .row2{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.testimonials{
    padding: 20px;
}

.testimonials h4{
    font-size: 22px;
    color: #5790dc;
    font-family: HelveticaLC;
    padding: 0 0 10px 0;
}

.testimonials .curved{
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/testimonials-li-text.jpg) repeat-x top #f1f1f1;
    border-top: 1px solid #c2c2c2;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 938px;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
}

.testimonials .curved p{
    padding: 30px;
    text-align: center;
    font-style: italic;
}

.testimonials .author{
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/testimonials-li-author.jpg) no-repeat top right;
    padding: 0 30px 0 0;
    margin: -1px 50px 0 0;
    text-align: right;
    position: relative;
}

.try-container .arrow-down-long-right{
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/down-long-right.png) no-repeat top left;
    padding: 50px 0 20px 110px;
    font-family: HelveticaLC;
    color: #5790dc;
    font-size: 22px;
    position: absolute;
    top: -30px;
    left: 35px;
}


.bottom{
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/bg-bottom.jpg) no-repeat top left;
    width: 1002px;
    height: 134px;
    margin: 0 auto;
    color: #1d1d1d;
    padding: 30px 0 0 0;
}

.bottom h5{
    font-size: 18px;
    font-family: HelveticaMc;
    padding: 0 0 10px 0;
    color: #00000a;
    margin: 0;
}

.bottom .contact{
    display: inline-block;
}

.bottom .contact .contact-info, .bottom .details{
    width: 210px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.bottom .details{
    width: 200px;
    display: inline-block;
}

.bottom .social{
    display: inline-block;
    position: relative;
    top: -43px;
    right: -40px;
}

.footer{
    background: url(http://www.shegy.nazwa.pl/themeforest/xtech_landing/original/images/bg-footer.jpg) no-repeat top left;
    width: 1002px;
    height: 35px;
    margin: 0 auto;
    line-height: 35px;
}

.footer .copyright{
    float: left;
}

.footer ul{
list-style: none;
float: right;
display: flex;  
}

.footer ul li{
    border-left: 1px solid #1d1d1d;
    line-height: 12px;
    padding: 0 5px 0 7px;
}

.footer ul li a{
    text-decoration: none;
    color: black;
}